/* Media Queries

WAYS to create responsive designs-
1.fluid grid
2.flexible images and widths
3.media queries
4.mobile first design
5.responsive typography-font size in relative units
*/
/* *{
    box-sizing: border-box;
}

.parent{
    display: flex;
    gap:10px;
    padding:10px;
    flex-wrap: wrap; /* fluid grid- to wrap the boxes to next line on small screens */

/* }
.box1{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
}
.box2{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
}
.box3{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
} */ 


/* Flexible images and widths */

/* *{
    box-sizing: border-box;
}
.parent{
    width: 100%; 
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
img{
    max-width:90%;
    height:auto;
} */



/* Media Queries */
*{
    box-sizing: border-box;
}

.parent{
    display: flex;
    gap:10px;
    padding:10px;
    flex-wrap: wrap; 

 }
.box1{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
}
.box2{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
}
.box3{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
}
@media(max-resolution:1080dpi){
    body{
        background-color: yellow;
    }
}
@media(orientation: portrait){
    body{
        background-color: yellow;
    }
}
@media (min-width:300px) {
    body{
        background-color: violet;

    }
    
}