h2{
    text-shadow:1px 1px 2px gray;
}
#grad{
    height:400px;
    background-image:linear-gradient(90deg, orange, white, green);
}
#grad2{
    height:400px;
    background:radial-gradient(circle, orange, white, green, blue, purple);
}
#grad3{
    height:400px;
    background-image:conic-gradient(from 360deg, orange, white, green, blue, purple);
}